body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}
h2{
    text-transform: capitalize;
}

nav span {
    width: 100%;
    text-align: center;
    text-shadow: 1.5px 1.5px;
    font-family: fantasy;
    font-size: large;
    background-color: rgb(73, 173, 168);
}

#bg{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg::before {
    content: "";
    background-image: url("../images/background-image.jpg");
    position: absolute;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    top: 0px;
    right: 75px;
    left: 0px;
    bottom: 600px;

}

#bg.hide::before {
    content: "";
    background-image: none;
    position: relative;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 100vh;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}



#search-bar {
    position: relative;
    top: 0px;
    left: 0px;

    color: white;
    background-color: rgba(73, 173, 168,.9);
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* top: -100px; */
}

#search-bar.moveLeft {
    position: relative;
    top: -205px;
    left: -500px;

    color: white;
    background-color: rgba(73, 173, 168,.9);
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* top: -100px; */
} 

#search-bar-2 {
    /* position: relative; */
    display: absolute;
    float: left;
    color: white;
    background-color: rgba(73, 173, 168,.9);
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 500px;
    /* top: -100px; */
}

#search {
    position: relative;
    color: rgba(45, 126, 122, 0.9);
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

#movies-searchable {
    margin-top: 20px;
    margin-bottom: 50px;
}

.movie {
    margin-bottom: 50px;
}

section {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

section img {
    width: 300px;
    transition: 250ms all;
}

img:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.content {
    border: 1px solid lightgrey;
    padding: 20px;
    display: none;
}

#content-close {
    cursor: pointer;
}

.content {
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.content-display {
    display: block;
}